.header-fixed
	.header-top
		.container
			.header-wrapper
				.header-nav
					ul
						li
							a(href="javascript:void(0);")
								span.home
						li
							a(href="#scene01")
								| Модельный ряд
						li
							a(href="#scene02")
								| Сервис центр
						li
							a(href="#scene03")
								| Акция
						li
							a(href="#scene04")
								| О компании
						li
							a(href="#scene05")
								| Контакты
				.header-fixed__right
					.header-number
						| +998 <span>71 225 85 20</span>
					.header-number
						| +998 <span>71 225 89 89</span>
					.header-social
						a(href="javascript:void(0);").icon
							span.fb
						a(href="javascript:void(0);").icon
							span.instagram
						a(href="javascript:void(0);").icon
							span.telegram
