.mobile-menu
	.mobile-menu__fixed
		.container
			.mobile-menu__wrapper
				.mobile-menu__logo
					img(src="images/icons/logo-mobile.svg")
				.mobile-menu__center
					span
						| СП ООО  «Hyundai auto asia»
				.mobile-burger
					span.burger
	.mobile-menu__open
		.container
			.mobile-menu__top
				.mobile-menu__home
					a(href="javascript:void(0);")
						span.home
				.mobile-menu__lang
					a(href="javascript:void(0);")
						| рус
					a(href="javascript:void(0);")
						| o'zb
				.mobile-menu__social
					a(href="javascript:void(0);")
						span.fb
					a(href="javascript:void(0);")
						span.instagram
					a(href="javascript:void(0);")
						span.telegram
				.mobile-menu__close
					span.close
			.mobile-menu-list
				ul
					li
						a(href="#scene01")
							| Модельный ряд
					li
						a(href="#scene02")
							| Сервис центр
					li
						a(href="#scene03")
							| Акция
					li
						a(href="#scene04")
							| О компании
					li
						a(href="#scene05")
							| Контакты
			.mobile-menu__bottom
				.logo
					img(src="logo.png" alt="logo")
				.mobile-menu__number
					p
						| +998 <span>71 225 85 20</span>
					p
						| +998 <span>71 225 89 89</span>
