extends pug/base

append vars
	- title = 'Главная страница'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = './favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#002c5f'
	- defaultLink = 'javascript:void(0);'
block content
	.wrapper
		header
			include pug/mobile-menu
			.header-top
				.container
					.header-wrapper
						.header-number
							| +998 <span>71 225 85 20</span>
						.header-number
							| +998 <span>71 225 89 89</span>
						.header-social
							a(href="javascript:void(0);").icon
								span.fb
							a(href="javascript:void(0);").icon
								span.instagram
							a(href="javascript:void(0);").icon
								span.telegram
			.header-bottom
				.container
					.header-bottom__wrapper
						.header-logo
							img(src="logo.png")
						.header-bottom__right
							.header-nav
								ul
									li
										a(href="javascript:void(0);")
											span.home
									li
										a(href="#scene01")
											| Модельный ряд
									li
										a(href="#scene02")
											| Сервис центр
									li
										a(href="#scene03")
											| Акция
									li
										a(href="#scene04")
											| О компании
									li
										a(href="#scene05")
											| Контакты
							.header-lang
								a(href="javascript:void(0);")
									| рус
								a(href="javascript:void(0);")
									| o'zb
			include pug/header-fixed
		.about-inner
			.container
				.defaul-page
					h1
						| Заголовок H1. <br>Пример заголовка
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					p
						| Абзац! Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
						| Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					h2
						| Заголовок H2. <br> Пример заголовка
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					p
						| Абзац! Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
					h3
						| Заголовок H3. <br>Пример заголовка
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной	и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					ul
						li
							| Оформление маркировки текста. Пример оформления <br>переноса строки.
						li
							| Оформление маркировки текста.
						li
							| Оформление маркировки текста.
						li
							| Оформление маркировки текста.
					p
						| Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
					b
						| Пример оформления жирности шрифта на сайте
					br
					i
						| Пример оформления курсива шрифта на сайте
					br
					u
						| Пример оформления подчеркивания шрифта на сайте
					br
					a
						| Пример оформления ссылки на сайте при наведение
					h4
						| Заголовок H4. <br>Пример заголовка
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной	и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
					h5
						| Заголовок H5. <br>Пример заголовка
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной	и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
		footer
			.container
				.footer-wrapper
					.footer-left
						span
							| Вся представленная на сайте информация, касающаяся  автомобилей и сервисного обслуживания, носит информационный характер и не является публичной офертой, определяемой положениями ст. 426 ГК РУз. Все цены указанные на данном сайте носят информационный характер и являются максимально рекомендуемыми розничными ценами по расчетам дистрибьютора (СП ООО «Hyundai auto asia»). Опубликованная на данном сайте информация может быть изменена в любое время без предварительного уведомления.
					.footer-right
						span
							| © СП ООО «Hyundai auto asia», 2018
						img(src="images/icons/logo.svg")
