extends pug/base

append vars
	- title = 'Главная страница'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1'
	- link.icon = './favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#002c5f'
	- defaultLink = 'javascript:void(0);'
block content
	.wrapper
		header
			include pug/mobile-menu
			.header-top
				.container
					.header-wrapper
						.header-number
							| +998 <span>71 225 85 20</span>
						.header-number
							| +998 <span>71 225 89 89</span>
						.header-social
							a(href="javascript:void(0);").icon
								span.fb
							a(href="javascript:void(0);").icon
								span.instagram
							a(href="javascript:void(0);").icon
								span.telegram
			.header-bottom
				.container
					.header-bottom__wrapper
						.header-logo
							img(src="logo.png")
						.header-bottom__right
							.header-nav
								ul
									li
										a(href="javascript:void(0);")
											span.home
									li
										a(href="#scene01")
											| Модельный ряд
									li
										a(href="#scene02")
											| Сервис центр
									li
										a(href="#scene03")
											| Акция
									li
										a(href="#scene04")
											| О компании
									li
										a(href="#scene05")
											| Контакты
							.header-lang
								a(href="javascript:void(0);")
									| рус
								a(href="javascript:void(0);")
									| o'zb
			include pug/header-fixed
		.content
			.modal(style="display:block")
				.modal-terms__wrapper
					span.close
					.modal-terms__inner
						<div class="about-inner">
							<div class="container">
								<div class="defaul-page">
									<p>В соответствии с требованиями законодательства РУз, настоящим подтверждаю, что с данной Политикой предварительно ознакомлен. В соответствии с требованиями ст.13 Закона РУз&nbsp; «О принципах и гарантиях свободы информации» - Предоставляю свое согласие на сбор, обработку и хранение моих персональных данных, в установленном порядке.</p>
									<h2>Политика СП ООО «Hyundai Auto Asia» в области обработки персональных данных</h2>
									<h4>I. Общие положения</h4>
									<p>1.1. Настоящая Политика в отношении обработки персональных данных (далее – «Политика») подготовлена в соответствии с Гражданским кодексом РУз, Законом Республики Узбекистан «О принципах и гарантиях свободы информации» и Законом РУз&nbsp; &nbsp;«Об информатизации» и определяет позицию Совместного предприятия ООО «Hyundai Auto Asia»&nbsp; (далее – «Предприятие») в области обработки и защиты персональных данных (далее – «Данные»), соблюдения прав и свобод каждого человека и, в особенности, права на неприкосновенность частной жизни, личную и семейную тайну.&nbsp;</p>
									<h4>II. Область применения</h4>
									<p>2.1. Настоящая Политика распространяется на Данные, полученные как до, так и после ввода в действие настоящей Политики.&nbsp;</p>
									<p>2.2. Понимая важность и ценность Персональных Данных, а также заботясь о соблюдении конституционных прав граждан Республики Узбекистан и граждан других государств, Предприятие обеспечивает надежную защиту Данных.&nbsp;</p>
									<h4>III. Определения</h4>
									<p>3.1. Под Данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (гражданину), т.е. к такой информации, в частности, относятся: ФИО, адрес, номер телефона, адрес электронной почты для связи, а также другая информация.</p>
									<p>3.2. Под обработкой Данных понимается любое действие (операция) или совокупность действий (операций) с Данными, совершаемых с использованием средств автоматизации и/или без использования таких средств. К таким действиям (операциям) относятся: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Данных.</p>
									<p>3.3. Под безопасностью Данных понимается защищенность Данных от неправомерного и/или несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения Данных, а также от иных неправомерных действий в отношении Данных.</p>
									<h4>IV. Правовые основания и цели обработки данных</h4>
									<p>4.1. Предприятие осуществляет обработку Данных субъектов в целях, осуществления возложенных на Предприятию законодательством Республики Узбекистан функций, полномочий и обязанностей в соответствии с законодательными актами, в том числе, уставом и локальными актами Предприятия.</p>
									<h4>V. Принципы и условия обработки данных</h4>
									<p>5.1. При обработке Данных Предприятие придерживается следующих принципов:</p>
									<p>5.1.1. Обработка Данных осуществляется на законной и справедливой основе;</p>
									<p>5.1.2.Данные не раскрываются третьим лицам и не распространяются без согласия субъекта Данных, за исключением случаев, требующих раскрытия Данных по запросу уполномоченных государственных органов власти и управления, судов;</p>
									<p>5.1.3.При этом, ведется сбор только тех Данных, которые являются необходимыми и достаточными для заявленной цели обработки;</p>
									<p>5.1.4.Обрабатываемые Данные подлежат уничтожению или обезличиванию по достижению целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено законодательством законом.</p>
									<p>5.1.5.Предприятие может включать Данные субъектов в общедоступные источники Данных, при этом Предприятие берет письменное согласие субъекта на обработку его Данных.</p>
									<p>5.2. Предприятие не осуществляет обработку Данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных, философских и иных убеждений, интимной жизни, членства в общественных объединениях, в том числе в профессиональных союзах.</p>
									<p>5.3.&nbsp; Предприятие не осуществляет трансграничную передачу Данных.&nbsp;</p>
									<p>5.4. В случаях, установленных законодательством Республики Узбекистан, Предприятие вправе осуществлять передачу Данных третьим лицам (уполномоченным государственным органам власти и управления Республики Узбекистан).</p>
									<p>5.5. Предприятие вправе поручить обработку Данных субъектов Данных третьим лицам с согласия субъекта Данных, на основании заключаемого с этими лицами договора.</p>
									<p>5.6. В целях исполнения требований действующего законодательства Республики Узбекистан и своих договорных обязательств обработка Данных в Предприятии осуществляется как с использованием, так и без использования средств автоматизации.&nbsp; Совокупность операций обработки включает сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Данных.</p>
									<p>5.7. В Предприятии запрещается принятие на основании исключительно автоматизированной обработки Данных решений, порождающих юридические последствия в отношении субъекта Данных или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных законодательством.&nbsp;</p>
									<h4>VI. Права и обязанности субъектов данных, а также предприятии в части обработки данных&nbsp;</h4>
									<p>6.1. Субъект, Данные которого обрабатываются Предприятием, имеет право получать от Предприятия:</p>
									<p>6.1.1. Подтверждение факта обработки Данных и сведения о наличии Данных, относящихся к соответствующему субъекту Данных;</p>
									<p>6.1.2. Сведения о правовых основаниях и целях обработки Данных;</p>
									<p>6.1.3. Сведения о применяемых Предприятием способах обработки Данных;</p>
									<p>6.1.4. Сведения о наименовании и местонахождении Предприятия;</p>
									<p>6.1.5. Сведения о лицах (за исключением работников Предприятии), которые имеют доступ к Данным или которым могут быть раскрыты Данные на основании договора с Предприятием или на основании закона;&nbsp;</p>
									<p>6.1.6. Перечень обрабатываемых Данных, относящихся к субъекту Данных, и информацию об источнике их получения, если иной порядок предоставления таких Данных не предусмотрен законом;&nbsp;</p>
									<p>6.1.7. Сведения о сроках обработки Данных, в том числе о сроках их хранения;&nbsp;</p>
									<p>6.1.8. Сведения о порядке осуществления субъектом Данных прав, предусмотренных законодательством Республики Узбекистан</p>
									<p>6.1.9. Требовать от Предприятия уточнения своих Данных, их блокирования или уничтожения в случае, если Данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;</p>
									<p>6.1.10. Отозвать свое согласие на обработку Данных в любой момент;<br> требовать устранения неправомерных действий Предприятии в отношении его Данных;</p>
									<p>6.2. Предприятие в процессе обработки Данных обязано:</p>
									<p>6.2.1. Предоставлять субъекту Данных по его запросу информацию, касающуюся обработки его персональных данных, либо на законных основаниях предоставить отказ&nbsp; &nbsp; &nbsp; &nbsp; в течение тридцати дней с даты получения запроса субъекта Данных или его представителя;</p>
									<p>6.2.2. Разъяснить субъекту Данных юридические последствия отказа предоставить Данные, если предоставление Данных является обязательным в соответствии с законодательством;</p>
									<p>6.2.3. Опубликовать в сети Интернет и обеспечить неограниченный доступ с использованием сети Интернет к документу, определяющему его политику в отношении обработки Данных, к сведениям о реализуемых требованиях к защите Данных;<br> предоставить субъектам Данных и/или их представителям безвозмездно возможность ознакомления с Данными при обращении с соответствующим запросом в течение 30 дней с даты получения подобного запроса;</p>
									<p>6.2.4. Осуществить блокирование неправомерно обрабатываемых Данных, относящихся к субъекту Данных, или обеспечить их блокирование (если обработка Данных осуществляется другим лицом, действующим по поручению Предприятия) с момента обращения или получения запроса на период проверки, в случае выявления неправомерной обработки Данных при обращении субъекта Данных или его представителя либо по запросу субъекту Данных или его представителя либо уполномоченного органа по защите прав субъектов персональных данных;</p>
									<p>6.2.5. Уточнить Данные либо обеспечить их уточнение (если обработка Данных осуществляется другим лицом, действующим по поручению Предприятия) в течение 7 рабочих дней со дня представления сведений и снять блокирование Данных, в случае подтверждения факта неточности Данных на основании сведений, представленных субъектом Данных или его представителем;</p>
									<p>6.2.6.Прекратить обработку Данных или обеспечить ее прекращение и уничтожить Данные или обеспечить их уничтожение в случае отзыва субъектом Данных согласия на обработку Данных, если Предприятие не вправе осуществлять обработку Данных без согласия субъекта Данных;</p>
									<h4>VII. Требования к защите данных</h4>
									<p>7.1. Предприятие при обработке Данных принимает необходимые правовые, организационные и технические меры для защиты Данных от неправомерного и/или несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения Данных, а также от иных неправомерных действий в отношении Данных.</p>
									<h4>VIII. Сроки обработки (хранения) данных</h4>
									<p>8.1. Сроки обработки (хранения) Данных определяются исходя из целей обработки Данных, в соответствии со сроком действия договора с субъектом Данных, требованиями законодательства, требованиями операторов Данных, по поручению которых Предприятие осуществляет обработку Данных, основными правилами работы архивов организаций, сроками исковой давности.</p>
									<p>8.2. Данные, срок обработки (хранения) которых истек, должны быть уничтожены, если иное не предусмотрено законодательством. Хранение Данных после прекращения их обработки допускается только после их обезличивания.</p>
									<h4>IX. Порядок получения разъяснений по вопросам обработки данных</h4>
									<p>9.1. Лица, чьи Данные обрабатываются Предприятием, могут получить разъяснения по вопросам обработки своих Данных, обратившись лично к Предприятию или направив соответствующий письменный запрос по адресу местонахождения Предприятия, указанного на официальном сайте.</p>
									<p>9.2. В случае направления официального запроса к Предприятию в тексте запроса необходимо указать:</p>
									<ul><li>фамилию, имя, отчество субъекта Данных или его представителя;</li>
									<li>номер основного документа, удостоверяющего личность субъекта Данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе;</li>
									<li>сведения, подтверждающие наличие у субъекта Данных отношений с Предприятием;</li>
									<li>информацию для обратной связи с целью направления Предприятием ответа на запрос;</li>
									<li>подпись субъекта Данных (или его представителя). Если запрос отправляется в электронном виде, то он должен быть оформлен в виде электронного документа и подписан электронной подписью в соответствии с законодательством Республики Узбекистан.</li>
									</ul><h4>X.&nbsp;Особенности обработки и защиты данных, собираемых предприятием с использованием сети интернет</h4>
									<p>10.1. Предприятие обрабатывает и защищает Данные, поступающие от пользователей Cайта http://hyundai-auto.uz . (далее совместно – Cайт), а также поступающие на адреса корпоративной почты Предприятия, заканчивающиеся на hyundai-auto.uz.</p>
									<p>10.2. Использование Данных Предприятие вправе пользоваться предоставленными Данными в соответствии с заявленными целями их сбора при наличии согласия субъекта Данных, если такое согласие требуется в соответствии с требованиями законодательства Республики Узбекистан в области Данных.&nbsp;</p>
									<p>10.3. Сайт содержит ссылки на иные веб-ресурсы, где может находиться полезная и интересная для пользователей Сайта информация, в том числе ссылки на такие ресурсы как http://hyundai-auto.uz. При этом действие настоящей Политики не распространяется на такие иные сайты. Пользователям, переходящим по ссылкам на другие сайты, рекомендуется ознакомиться с политиками об обработке Данных, размещенными на таких сайтах.</p>
									<p>10.4. Пользователь Сайта может в любое время отозвать свое согласие на обработку Данных, направив электронное сообщение по адресу электронной почты: http://hyundai-auto.uz, либо направив письменное уведомление по адресу Предприятия: 100000, Республика Узбекистан&nbsp; г. Ташкент, Юнособадский район, проспект Амира Темура 77а.&nbsp;</p>
									<p>После получения такого сообщения обработка Данных пользователя будет прекращена, а его Данные будут удалены, за исключением случаев, когда обработка может быть продолжена в соответствии с законодательством</p>
									<h4>XI. Заключительные положения</h4>
									<p>11.1. Настоящая Политика является локальным нормативным актом Предприятия.</p>
									<p>11.2. Настоящая Политика является общедоступной. Общедоступность настоящей Политики обеспечивается публикацией на Сайте Предприятия.</p>
									<p>11.3. Настоящая Политика может быть пересмотрена в любом из следующих случаев:</p>
									<ul><li>при изменении законодательства Республики Узбекистан в области обработки и защиты персональных данных;&nbsp;</li>
									<li>в случаях получения предписаний от компетентных государственных органов на устранение несоответствий, затрагивающих область действия Политики; по решению руководства Предприятия;</li>
									<li>при изменении целей и сроков обработки Данных;</li>
									<li>при изменении организационной структуры, структуры информационных и/или телекоммуникационных систем (или введении новых);</li>
									<li>при применении новых технологий обработки и защиты Данных (в т. ч. передачи, хранения);</li>
									<li>при появлении необходимости в изменении процесса обработки Данных, связанной с деятельностью&nbsp; Предприятия.</li>
									</ul><p>11.4. В случае неисполнения положений настоящей Политики Предприятие и ее работники несут ответственность в соответствии с действующим законодательством Республики Узбекистан.</p>
									<p>11.5. Контроль исполнения требований настоящей Политики осуществляется лицами, ответственными за организацию обработки Данных Предприятия, а также за безопасность персональных данных.</p>
							</div>
							</div>
						</div>
						.modal-link
							a(href="/").btn
								| Вернуться на главную
		footer
			.container
				.footer-wrapper
					.footer-left
						span
							| Вся представленная на сайте информация, касающаяся  автомобилей и сервисного обслуживания, носит информационный характер и не является публичной офертой, определяемой положениями ст. 426 ГК РУз. Все цены указанные на данном сайте носят информационный характер и являются максимально рекомендуемыми розничными ценами по расчетам дистрибьютора (СП ООО «Hyundai auto asia»). Опубликованная на данном сайте информация может быть изменена в любое время без предварительного уведомления.
					.footer-right
						span
							| © СП ООО «Hyundai auto asia», 2018
						img(src="images/icons/logo.svg")
