// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-hover: #00aad2;
$color-hyundai: #002c5f;
$color-blue: #004387;
$color-brown: #e4dcd3;
$color-lightBrown: #f6f3f2;
$color-grey: #8a8a8a;


// FONTS

$font-regular: 'Hyundai-Regular', sans-serif;
$font-medium: 'Hyundai-Medium', sans-serif;
$font-bold: 'Hyundai-Bold', sans-serif;
